<h1>Création d'un événement</h1>
<form [formGroup]="newEventForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">
    Nom de l'événement :
  </label>
    <input formControlName="name" id="name" name="name" type="text">
  </div>
  <div>
    <label for="start_date">
      Date de l'événement
  </label>
    <input formControlName="start_date" id="start_date" name="start_date" type="date">
  </div>
  <div>
    <label for="end_date">
      Fin de l'événement
  </label>
    <input formControlName="end_date" id="end_date" name="end_date" type="date">
  </div>
  <div>
    <label for="is_all_day">
      Journée entière ?
  </label>
    <input formControlName="is_all_day" id="is_all_day" name="is_all_day" type="checkbox">
  </div>
  <div>
    <label for="start_time">
      Heure début :
  </label>
    <input formControlName="start_time" id="start_time" name="start_time" type="time">
  </div>
  <div>
    <label for="end_time">
      Heure fin :
  </label>
    <input formControlName="end_time" id="end_time" name="end_time" type="time">
  </div>
  <div>
    <label for="place">
      Lieux :
  </label>
    <input formControlName="place" id="place" name="place" type="text">
  </div>
  <fieldset formArrayName="participants">
    <legend>Participants :</legend>
    <div>
      <button type="button" (click)="addParticipant()">+</button>
      <!-- <button type="button" (click)="subParticipant()">-</button> -->
    </div>
    <div *ngFor="let participant of getParticipantsForms().controls; let i = index" [formGroupName]="i">
      <h3>Participant {{i+1}} :</h3>
      <div>
        <label for="last_name">Nom :</label>
        <input name="last_name" id="last_name" formControlName="last_name" type="text">
      </div>
      <div>
        <label for="first_name">Prénom :</label>
        <input name="first_name" id="first_name" formControlName="first_name" type="text">
      </div>
      <div>
        <label for="email">Adresse e-mail :</label>
        <input name="email" id="email" formControlName="email" type="email">
      </div>
    </div>
  </fieldset>
  <button type="reset">Remettre à zéro</button>
  <button type="submit">Enregistrer</button>
</form>
